/* =============
    Section-1
============= */
#section-1{
    display: flex;
    align-items: left;
    justify-content: left;
    


    background-image: url('../img/section-1/heroimg.jpg');
    background-size: cover;
    background-position: center;
    gap: 20px;
    height: 377px;

        @include md{
            height: 549px;
            }

        @include lg{
            height: 800px;
            }

        
        h1{
            color: $orange;
            margin: 34px;
        }

}
